/packages
.vs/

ImageApp/ImageApp/bin
ImageApp/ImageApp/obj

ImageApp/ImageApp.Android/bin
ImageApp/ImageApp.Android/obj

ImageApp/ImageApp.iOS/bin
ImageApp/ImageApp.iOS/obj

ImageWeb/bin
ImageWeb/obj

*.user

ImageWeb/App_Data/Images/*.jpg